.admin-header {
    display: flex;
}

body { margin:0; font-family: Arial, sans-serif; display: block !important;}
.container { display:inline-flex; min-height:90vh; }
nav { width:220px; background:#f4f4f4; padding:15px; }
nav ul { list-style:none; padding:0; margin:0; }
nav li { margin-bottom:5px; }
nav a { text-decoration:none; color:#333; display:block; padding:5px; border-radius:3px; cursor:pointer; }
nav a.active, nav a:hover { background:#333; color:#fff; }
.submenu { display:none; margin-left:10px; }
.submenu a { font-size: 0.95em; padding-left:10px; }
main { flex:1; padding:20px; }

/* 대그룹 강조 */
nav ul li.group-open > a {
    background-color: #007BFF; /* 파란색 */
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
}

/* 서브메뉴 강조 */
nav .submenu a.active {
    background-color: #928bb8;
    font-weight: bold;
}




body { font-family: sans-serif; padding: 20px; }
.grid-editor { 
    margin-left: 50px;}

#controls { margin-bottom: 10px; }
    #grid {
      position: relative;
      width: 1100px;
      height: 800px;
      border: 1px solid #ccc;
      background-size: 50px 50px;
      background-image:
        linear-gradient(to right, #eee 1px, transparent 1px),
        linear-gradient(to bottom, #eee 1px, transparent 1px);
    }
    .module {
      position: absolute;
      background: #ddd;
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: grab;
      user-select: none;
    }
    .resizer {
      position: absolute;
      width: 10px;
      height: 10px;
      background: #000;
      right: 0;
      bottom: 0;
      cursor: se-resize;
    }

    /* 모달 */
    .modal { display: none; position: fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
    .modal-content { background:#fff; margin:10% auto; padding:20px; width:300px; border-radius:6px; }
    .modal .close { float:right; font-weight:bold; cursor:pointer; color:black; }